<div class="w-4/5">
  <%= render 'shared/blog_page', blog: @blog %>
  <div class="mb-5 justify-between items-center mt-3 mx-auto w-full flex">
    <%= link_to "編集する", edit_blog_path(blog), class: "rounded-lg py-3 px-4 bg-gray-100 inline-block font-medium" %>
    <%= link_to "一覧へ戻る", session[:last_visited_index] || root_path, class: "rounded-lg py-3 px-4 bg-gray-100 inline-block font-medium" %>
  </div>
</div>