<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <div>
      <h2 class="font-bold text-4xl">管理用<br>投稿一覧</h2>
    </div>
    <div>
      <%= link_to "アカウント", profile_path, class: "btn btn-secondary btn-lg px-3 mt-2 mr-2" %>
      <%= link_to "新規作成", new_blog_path, class: "rounded-lg py-3 px-5 mt-2 mr-2 bg-blue-600 text-white block font-medium" %>
    </div class="flex justify-between items-center">
  </div>

  <div id="blogs" class="min-w-full">
    <%= render @blogs %>
  </div>
</div>
