<!-- ユーザー情報 -->
<!-- ログインしているユーザーの情報を表示する 管理ページにて使用 -->
<div class="container mt-5 bg-gray-100 rounded-lg">
  <div class = "pt-3 pb-3">
    <div class="flex justify-between">
      <h2 class="mb-4">ユーザー情報</h2>
      <div class="mb-3">
        <%= link_to "アカウントの<br>新規作成".html_safe, signup_path, class: "btn btn-primary btn-sm" %>
      </div>
    </div>
    <div class="mb-3">
      <p><strong>メールアドレス：</strong><%= current_user.email %></p>
    </div>

    <div class="flex justify-between">
      <div class="mb-3">
        <%= link_to 'ログアウト', logout_path, method: :delete, class: 'btn btn-secondary mt-1 flex-1' %>
      </div>

      <div class="mb-3">
        <%= link_to 'アカウント削除', unsubscribe_path, method: :delete, data: { confirm: '本当に登録解除しますか？' }, class: 'btn btn-danger mt-1' %>
      </div>

    </div>
  </div>
</div>