
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

<!-- SNS紹介 -->

    <div class="bg-white py-6 sm:py-8 lg:py-12">
        <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
            <div class="mb-4 items-center md:mb-8 lg:flex-row lg:justify-between">
            <h2 class="mb-2 text-center text-2xl font-bold text-gray-800 lg:mb-0 lg:text-3xl">SNS</h2>

            <p class="max-w-md text-center text-gray-400 lg:text-right">質問や入部希望,部室見学などは以下のSNSからお願いします．</p>
            </div>

            <div class="grid grid-cols-2 gap-4 rounded-lg md:grid-cols-2 lg:gap-6">
                <!-- Twitter logo - start -->
                <a href="https://twitter.com/shimaneU_keion" target="_blank" class="hover:no-underline">
                    <div class="flex h-16 items-center justify-center rounded-lg bg-gray-100 p-4 text-gray-400 sm:h-32">
                        <i class="fab fa-twitter fa-3x"></i>
                    </div>
                </a>
                <!-- Twitter logo - end -->

                <!-- Instagram logo - start -->
                <a href="https://www.instagram.com/shimadai_keion/" target="_blank" class="hover:no-underline">
                    <div class="flex h-16 items-center justify-center rounded-lg bg-gray-100 p-4 text-gray-400 sm:h-32">
                            <i class="fab fa-instagram fa-3x"></i>
                    </div>
                </a>
                <!-- Instagram logo - end -->
            </div>
            <p class="mt-2 max-w-md text-center text-gray-400 lg:text-right">↑各アイコンをクリックで、SNSに飛べます．</p>
        </div>
    </div>
