<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<%# 
    SNS紹介
%> 

<div>
    <div class="bg-white py-6 sm:py-8 lg:py-12">
        <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
            <div class="mx-auto flex max-w-xl flex-col items-center text-center">
                <p class="mb-4 font-semibold text-indigo-500 md:mb-6 md:text-lg xl:text-xl">
                    はじめまして！島根大学 軽音楽部です！
                </p>

                <h1 class="mb-8 text-3xl font-bold text-black sm:text-4xl md:mb-12 md:text-5xl">
                    興味を持ってくれた<br>あなたへ！
                </h1>
            </div>
        </div>
    </div>
    
    <%= render 'home/sns' %>

</div>